<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--Bootstrap css -->
  <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
  <!--Styles css -->
  <link rel="stylesheet" href="/css/styles.css" type="text/css">
  <title>Tecnológico de Antioquia</title>
</head>

<body>

  <div class="container-fluid">
    <div class="header">
      <img class="header-image" src="/img/logo-ppal.jpg" alt="logo Tecnológico de Antioquia">
      <img class="header-image" src="/img/gel2.jpg" alt="Tecnológico de Antioquia">
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"><img src="/img/node.png" class="navbar-image" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/main">Home</a>
          {{#if (isAdmin req) }}
          <a class="nav-item nav-link" href="/courses">Cursos</a>
          <a class="nav-item nav-link" href="/">Cerrar sesión</a>
          <a class="nav-item nav-link disabled" href="/">Proximamente</a>
          {{else}}
          <a class="nav-item nav-link" href="/courses-available">Cursos disponibles</a>
          <a class="nav-item nav-link" href="#">Mis cursos</a>
          <a class="nav-item nav-link" href="/">Cerrar sesión</a>
          <a class="nav-item nav-link disabled" href="/">Proximamente</a>
          {{/if}}
        </div>
      </div>
    </nav>

    <div class="main">

    </div>
  </div>
