<div class="navbar-nav">
  <a class="nav-item nav-link active" href="/main">Home</a>
  {{#if (isAdmin req) }}
  <a class="nav-item nav-link" href="/courses">Cursos</a>
  <a class="nav-item nav-link" href="/users">Usuarios</a>
  {{else if (isSelectedRole "docente" req.session.userRole)}}
  <a class="nav-item nav-link" href="/teacher-courses">Cursos a cargo</a>
  {{else}}
  <a class="nav-item nav-link" href="/courses-available">Cursos disponibles</a>
  <a class="nav-item nav-link" href="/my-courses">Mis cursos</a>
  {{/if}}
  <a class="nav-item nav-link" href="/logout">Cerrar sesión</a>
  <a class="nav-item nav-link disabled" href="/">Proximamente</a>
</div>