{{>header}}
<div class="container-fluid">
  <div class="pb-4 d-flex justify-content-start">
    <h4>Ingresar un nuevo curso</h4>
  </div>
  {{#if info}}
  <div class="alert alert-info" role="alert">
    {{{info}}}
  </div>
  {{/if}}
  <form action="/store-course" method="post">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="id">ID</label>
        <input type="number" name="id" required class="form-control" placeholder="ID">
      </div>
      <div class="form-group col-md-6">
        <label for="name">Nombre</label>
        <input type="text" name="name" required class="form-control" placeholder="Nombre">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="modality">Modalidad</label>
        <select name="modality" class="form-control">
          <option selected>Seleccione...</option>
          <option>Presencial</option>
          <option>Virtual</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="cost">Valor</label>
        <input type="number" name="cost" required class="form-control">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="description">Descripción</label>
        <textarea name="description" required class="form-control" rows="4"></textarea>
      </div>
      <div class="form-group col-md-6">
        <label for="valor">Intensidad horaria</label>
        <input type="number" name="workload" class="form-control" placeholder="Intensidad horaria">
      </div>
    </div>
    <div class="pb-4 d-flex justify-content-center">
      <button type="submit" class="btn btn-dark">Guardar</button>
    </div>
  </form>
</div>
{{>footer}}
