{{>header}}
<div class="container-fluid">
  <div class="pb-4 d-flex justify-content-center">
    <h4>Bienvenido a la página de Educación continua</h4>
  </div>
  <div class="pb-4 d-flex justify-content-center">
    <img src="/img/inscripciones_sapiencia.jpg" alt="logo Tecnológico de Antioquia">
  </div>
</div>
{{>footer}}
