{{>header}}
<div class="container-fluid">
  <div class="pb-4 d-flex justify-content-start">
    <h4>Ingresar notas</h4>
  </div>
  <div>{{show}}</div>
  <form action="/store-notes" method="post">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="name">Nombre</label>
        <input type="text" name="name" required class="form-control">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="math">Matematicas</label>
        <input type="text" name="math" required class="form-control">
      </div>
      <div class="form-group col-md-6">
        <label for="english">Ingles</label>
        <input type="text" name="english" required class="form-control">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="programming">Programacion</label>
        <input type="text" name="programming" class="form-control">
      </div>
    </div>
    <div class="pb-4 d-flex justify-content-center">
      <button type="submit" class="btn btn-dark">Guardar</button>
    </div>
  </form>
</div>
{{>footer}}
