{{>header}}
<div class="container-fluid">
  <div class="pb-4 d-flex justify-content-center">
    <h4>Bienvenido a la página de Educación continua {{req.session.name}}</h4>
  </div>
  <div class="text-center">
    <img src="data:img/png;base64,{{avatar}}" alt="avatar">
  </div>
  <div class="pb-4 d-flex justify-content-center">
    <img src="/img/inscripciones_sapiencia.jpg" alt="logo Tecnológico de Antioquia">
  </div>
</div>
{{>footer}}
